<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>interactive_story.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7411E8FB1D5D902000AD4A7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7411E90F1D5D902100AD4A7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7411E91A1D5D902100AD4A7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
